/* global styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #f79e1b;
    --secondary: #ffcc00;
    --danger: #d9534f;
    --warning: #ffc107;
    --success: #3d8f3d;
    --info: #5bc0de;
    --light: #f8f8f8;
    --dark: #3a3a3a;
    --ft-family: tahoma;
    --input-bg: #f1f1f1;

}

.container {
    font-family: var(--ft-family);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: var(--dark);
    color: var(--dark);

}

form {
    background: var(--light);
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    padding: 2vw 4vw;
    border-radius: 10px;
}



input,
textarea {
    width: 100%;
    display: block;
    font-size: 18px;
    padding: 12px;
    border-radius: 5px;
    margin: 5px 0 16px 0;
    font-family: var(--ft-family);
}

input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

input[type="submit"] {
    border-radius: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--success);
    color: var(--light);
    font-size: 15px;
    letter-spacing: 1px;
    opacity: 0.9;
    outline: 0;
}

input[type="submit"]:hover {
    opacity: 1;
}
::placeholder{
    font-family: var(--ft-family);
    font-size: 14px;
}
label {
    font-size: 16px;
    display: inline-block;

}

textarea {
    font-size: 14px;
    font-family: var(--ft-family);
}

/* phone size {small screen sizes} */
@media screen and (max-width: 350px) {


}

/* tablet size */
@media screen and (min-width: 700px) {}

/* Desktop size */
@media screen and (min-width: 1100px) {}